#login-box {
	margin: auto 0px;
	text-align: center;
}

/*
table {
	border: 1px solid black;
}
*/

.form-errors {
	color: red;
	font-weight: bold;
}

#loginForm.errors, #username.errors, #password.errors {
	color: red;
	font-weight: bold;
}

.table-title {
	font-weight: bold;
}

.left-td-label {
	font-weight: bold;
	text-align: right;
}

.right-td-field {
	text-align: left;
}